
/* Move down content because we have a fixed navbar that is 80px tall */
html{
    height:100%;
}
body {
  padding-top: 80px;
    height:100%;
}

.main{
    padding:0 !important;
}

.fullheight{
    height:100%;
}
/* Assets */


.ClearPadding{
  padding-left: 0;
  padding-right: 0;
}

.AddMargin{
  margin-left: 15px;
  margin-right: 15px;
}

.Aligner{
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.AlignerItem {
  margin: 0;
}

.MediaColor{
  color:#EF4141;
}

.TimeColor{
  color:#E2BF29;
}

.CountriesColor{
  color:#427A99;
}

/* Navbar */

#navbar .row{
  height: 79px;
}

#navbar{
  height: 79px !important;
}


#HeaderLeft{
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;

}

#HeaderLeft img{
  cursor:pointer;
}

#home{
  height: 79px;
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
}


#title{
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
  height: 79px;
  text-align: center;
}

#title h3{
  text-transform: uppercase;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;

}

#DataDescription{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  color: #4A4A4A;
  letter-spacing: 0.61px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  height: 79px;
  justify-content: center;
}

#DataDescription p{
  margin: 0;
  padding: 10px;
}

/* Dimensions buttons */

#HeaderRight{
  height: 80px;
}

.FirstDimension{
  height: 50px;
  background-color: #F9F9F9;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

}

.SecondDimension{
  height: 30px;
  background-color: #F9F9F9;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

}

.DimensionButton{
  width: 100%;
  height:100%;
  border-radius: 0;
}

.TimeButton{
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-top: 0px;
  border-left: 0px;
  color: #E2BF29;
  letter-spacing: 1px !important;
}

.TimeButton:hover,
.TimeButton:focus, .TimeButton.actv
{	background-color: #E2BF29 !important;
  border: 1px solid #E2BF29 !important;
  outline: none !important;
    color:white !important;
  box-shadow: none;
}

.CountriesButton{
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-top: 0px;
  border-left: 0px;
  color: #427A99;
  letter-spacing: 1px !important;
}

.CountriesButton:hover,
.CountriesButton:focus,
.CountriesPanel .actv, .CountriesButton.actv
{
  background-color: #427A99 !important;
  border: 1px solid #427A99 !important;
  outline: none !important;
  color:white;
  box-shadow: none;
}

.MediaButton{
  background-color: #F9F9F9;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-top: 0px;
  border-left: 0px;
  color: #EF4141;
  letter-spacing: 1px !important;
}

.MediaButton:hover,
.MediaButton:focus, .MediaPanel .actv, .MediaButton.actv
{
  background-color: #EF4141 !important;
  border: 1px solid #EF4141 !important;
  outline: none !important;
  color:white;
  box-shadow: none;

}

/* Sidebar*/

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;

    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F9F9F9;
    border-right: 1px solid #CACACA;
    /*padding: 0px 20px 20px 20px;*/
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/* Sidebar*/
/*


/* TimePanel */


.TimePanel{
  border-bottom: 1px solid #CACACA;
}

.TimePanel h2{
  padding-bottom: 9px;
  border-bottom: solid 1px #E3E3E3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #E2BF29;
  letter-spacing: 0.78px;
}

.TimePanel img{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

}
/* Media and Countries Panels */

.CountriesPanel button,
.MediaPanel button
{
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #CACACA;
  letter-spacing: 0.78px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 5px 10px 5px 0px;
}



.SortGroup{
  border-bottom: 1px solid #E3E3E3;
  padding-top: 5px;
  padding-bottom: 15px;
}

.SortGroup h3{

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.78px;
  display: inline-block;
}



.FilterGroup{
  padding: 20px 15px 20px 15px;
}


.FilterGroup .dropdown-menu{
  width: 100%;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  min-height: 400px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0px !important;
  background-color: #F9F9F9;

}

.FilterGroup .dropdown-menu h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.78px;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;

}

.FilterGroup .dropdown-menu li{
  display: inline-block;
}

.FilterGroup .dropdown-menu .divider{
  border-bottom: 1px solid #E3E3E3;
  margin-top: 30px;
  width: 100%;
}




.Search {

  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  flex-direction: row;
  display: flex;

}

.SearchIcon{

  border-right: 1px solid #CACACA;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  margin-right: 0px!important;
  width: 45px;

}

.Search input{
  border: 0px;
  box-shadow: none;
  height: 39px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.78px;
  background-color: #F9F9F9;
}




/* Lists */
.DeselectedItem{
  background-color: #E3E3E3 !important;
  color: #CACACA !important;
}
.DeselectedItem .badge {
  color: #CACACA !important;
}


.ElasticList .list-group-item:hover{
  background-color: #E3E3E3 !important;
  color: #CACACA !important;
}

.ElasticList .list-group-item{
  cursor:pointer;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 0px;
  background-color: #F9F9F9;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400px;
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 0.72px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ElasticList .badge{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.72px;
  background: none;
  border:0px;
}

.MediaPanel .ElasticList .badge{
  color: #EF4141;
}

.CountriesPanel .ElasticList .badge{
  color: #427A99;
}



/* CountriesPanel */




.CountriesPanel h2{
  padding-bottom: 9px;
  border-bottom: solid 1px #E3E3E3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #427A99;
  letter-spacing: 0.78px;
  margin-bottom: 0px;
}

.CountriesPanel button:hover,
.CountriesPanel button:focus,
.CountriesPanel button:active
{
  background-color: #427A99;
  border: 1px solid #427A99;
  color: #F9F9F9;
}


/* MediaPanel */


.MediaPanel{
  border-right: 1px solid #CACACA;
}

.MediaPanel h2{
  padding-bottom: 9px;
  border-bottom: solid 1px #E3E3E3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #EF4141;
  letter-spacing: 0.78px;
  margin-bottom: 0px;

}


.MediaPanel button:hover,
.MediaPanel button:focus,
.MediaPanel button:active
{
  background-color: #EF4141;
  border: 1px solid #EF4141;
  color: #F9F9F9;
}


/* Legend panel */



@keyframes ShowLegendAnim {
  from {margin-left: 100%; display: block;}
  to {margin-left: 66.6666666%; display: block;}
}

@keyframes HideLegendAnim {
  from {margin-left: 66.6666666%; display: block;}
  to {margin-left: 100% !important; display: none;}
}

.StartLegend{
  display: none;
}


.ShowLegend{
  animation-name: ShowLegendAnim;
  animation-duration: 1s;


}

.HideLegend{
  animation-name: HideLegendAnim;
  animation-duration: 1s;


}


#showhide{
  width: 100px;
  height: 30px;
  left: 900px;
  position: absolute;
  background-color: red;
}

datapanel{
  display:block;
}

brushablebars{
  display:block;
  width:100%;
}
brushablebars .domain{
  fill:none;
  stroke:none;
}

brushablebars svg text{
  font-family: 'Source Serif Pro', serif;
  font-size:0.8em;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.day{
  fill: #E2BF29;
}
stream, pack, network{
  display:block;
  width:100%;
  margin-top:100px;
  font-family:"Source Serif Pro";
}

network{
  position: relative;
  z-index: 1;
}

.streamsingle{
    display:block;
    width:calc(100% - 200px);
    float:left;
}

stream .x.axis path{
  opacity:0;
}
.stream-item{
    width:100%;
    clear:both;
}

.stream-dropdown{
    width:200px;
    float:left;
    font-family: "Source Serif Pro";
    color:#4a4a4a;
    text-transform: capitalize;
}
.x.axis line{
  stroke:black;
  opacity:0.1;
}

.x.axis text{
  text-transform: uppercase;
  font-family:'Source Sans Pro', sans-serif;
  fill:#999;
}

/* pack */

svg .node text {
  font-family: 'Source Serif Pro', serif;
  font-size:0.8em;
  fill:#444;
}

#graph-container{
  height:600px;
}
.multistream, .multipack, .multimap{
    width:100%;
    height:auto;
    margin-top:80px;
}

.multipack, .multimap{
    margin-top:50px;
    font-family:"Source Serif Pro";
    color:#4A4A4A;
}

.pack-item, .map-item{
    width:50%;
    float:left;
}
.packsingle, .mapsingle{
    display:block;
    width:100%;
}

streamaxes{
    position:absolute;
    top:0;
    left:200px;
    width:calc(100% - 200px);
  z-index: -1;

}

.media-time, .countries-time{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;

}


.timebar{
    height:90px;
    background-color:#f9f9f9;
    border-top: solid 1px #E3E3E3;
    position:absolute;
    bottom:0;
    width:100%;
}


.timectrl{
    width:90px;
    height:100%;
    float:left;
    font-size:45px;
    padding-top:16px;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    color: #bdbdbd;
}

.timectrl i {
    cursor:pointer;
}

.time-line{
    width:calc(100% - 90px);
    float:left;
    height:100%;
}
.time-line rect {
    cursor:pointer;
}
dorling{
    display:block;
    width:100%;
    height:100%;
}



/* UPLOADER */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    overflow:hidden;
    background-color:#ffffff;
    height: calc(100% + 80px); /* For at least Firefox */
    min-height: 100%;
    margin-top:-80px;
    text-align: center;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.site-wrapper a {
    cursor: pointer;
}
/*
 * Cover
 */

.cover {
    padding: 0 20px;
}




/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}



.cover-heading{
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 0.66px;
    margin-bottom: 40px;
}

.drop-box {
    background: white;
    border: 1px dashed #DDD;
    width: 500px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;

}

.up-buttons {
    float: right;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}


.intro-text{

    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0.68px;
    line-height: 20px;
    margin-right: 20%;
    margin-left: 20%;
}
.d3-tip {
    font-family:"Source Serif Pro";
    padding:10px;
    background:#f9f9f9;
    border: 1.5px solid #e2e2e2;

}
/* vecchio logo
.logo-cover{
  width: 100%;
  height: 115px;
  background-image: url("/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;

}
*/

.d3-tip h5{
    font-weight:bold;
}

.d3-tip b.blu{
    color:#427A99;
}

.d3-tip b.red{
    color:#EF4141;
}

@keyframes example {
    from {  -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);}
    to {  -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);}
}


.logo-cover{
    width: 100%;
    height: 115px;
    background-image: url("../images/gif-loading.gif");
    background-position: center;
    background-repeat: no-repeat;

}

.intro-upload{
    /* upload your data or : */
    font-family: 'Source-Sans Pro', sans-serif;
    font-size: 17px;
    color: #4A4A4A;
    letter-spacing: 0.78px;
    font-weight: normal;
}


.intro-upload p{
    padding-bottom: 5px;

}
.intro-upload a{
    border-bottom: 1px solid #4A4A4A;
    color: #4A4A4A;
}

.intro-upload a:hover{
    text-decoration: none;
    border: 0;
}


.drag{
    /* Rectangle 60: */
    background: #FFFFFF;
    border: 1px dashed #CACACA;
    width: 500px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.drag .fa{
    color: #CACACA;
    font-size: 30px;
}


.drag:hover{
    background-color: #F9F9F9;
}


.drag:hover .fa{
    color: white;
}

.Aligner{
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.AlignerItem {
    margin: 0;
}
streamaxes{
    pointer-events:none;
}

.ttip-s{
    display:none;
    position:fixed;
    top:0;
    left:0;
}


.net-button{
    float:right;
    margin-right:30px;
    background-color:#f9f9f9;
    border:1px solid #e4e4e4;
    color:#444;
    padding:4px 10px;
}

.loading{
    font-family:"Source Serif Pro";
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background:#f9f9f9;
    width:100vw;
    height:100vh;
    text-align:center;
}
.loading i{
    margin-top:30vh;
    font-size:7em;
    margin-bottom:40px;
}
.loading p{
  margin-top:2em;
    font-size:1.3em;
}
.loading img{
  display:block;
  width:auto;
  margin:40vh auto 0 auto;
}


/* Legend panel */

.LegendPanel{
  border-right: 1px solid  #CACACA;
  position: fixed;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CACACA;
  padding-bottom: 30px;
  width: 350px;
  position: absolute;
  z-index:2;
  left: -350px;
  transition: all .5s ease-out;

}

.legend-text{
  padding-left: 20px;
  padding-right:20px;
  margin-bottom: 30px;
}

.legend-text p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.64px;
  line-height: 19px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E3E3E3;
  padding-left: 0px;
  padding-right: 0px;
}


.legend-size{

  padding-bottom: 10px;

  min-height: 100px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


.legend-size-title{
  width: 25%;
  height: 100%;
  display: block;
  float: left;
}


.legend-size-title p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.78px;
  line-height: 19px;
  padding-top: 20px;
}

.legend-size-element{
  width: 70%;
  height: 100%;
  float: right;
  padding-left: 20px;
}

.legend-size-element img{
  float: right;
}


.legend-toggle{
cursor:pointer;
  margin-top: 10px;
  padding: 0 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: max-content;
  color: #CACACA;
  letter-spacing: 0.78px;
  background: #F9F9F9;
  border: 1px solid #CACACA;
  border-radius: 0px 15px 15px 0px;
  z-index: 2000;
}

.legend-toggle p{
  margin: 0;
}

.bold{
  font-weight: bold;
}

.tooltip{
  background-color:transparent;
  pdding:0;
}

.tooltip-inner{
  background:none;
}
.tooltip-style{

  background: #F9F9F9;
  border: 1px solid #E3E3E3 !important;
  font-family: 'Source Serif Pro', serif;
  padding: 10px;
  color: #4A4A4A;
  letter-spacing: 0.67px;
  display: inline-block;
  text-align: left;
}


.tooltip-style h1{
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.tooltip-style p{
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 5px;

}


.MediaColor:hover{
  color:#EF4141;
}
.tooltip-arrow{
  border:none !important;
}

.dropdown-menu{
  height: 200px;
  overflow-y: auto;
}

.dataset{

  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  font-family: 'Source Serif Pro', serif;
  padding: 15px;
  color: #4A4A4A;
  letter-spacing: 0.67px;
  word-wrap: break-word;
  margin-top: 10px;
  text-align: left;
  position:relative;
  display: block;
  -webkit-transition: background 0.2s; /* Safari */
  transition: background 0.2s;
  display: inline-block;
  /*padding:  .25rem;*/
  width:  100%;

}


.dataset h4{
  padding-bottom: 9px;
  padding-top: 10px;
  font-family: 'Source Serif Pro', serif;
  font-size: 23px;
  letter-spacing: 0.78px;
  margin: 0px;
}

.dataset a, .dataset a:hover, .dataset a:active{
  color: #4A4A4A;
}


.dataset p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.64px;
  line-height: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}


.riga{
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
}

stream .y.axis .tick line{
  stroke:#999;
}

stream .y.axis .tick text{
  fill:#999;
  font-family:"Source Sans Pro";
  font-size:0.9em;
}

.ttip-title{
  font-weight:bold;
}
.yellow-fill{
  fill: #E2BF29;
}


/*tooltips*/

.sigma-tooltip {
  width: 240px;
  padding:5px;
  max-height: 280px;
  background-color: #f3f3f3;
  color: #4A4A4A;

}
.sigma-tooltip-header {
  font-weight: bold;
  padding:5px;

}

.sigma-tooltip > .arrow {
  border-width: 10px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.sigma-tooltip.top {
  margin-top: -12px;
}
.sigma-tooltip.top > .arrow {
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  border-top-color: rgb(249, 247, 237);
  border-bottom-width: 0;
}

.sigma-tooltip.bottom > .arrow {
  left: 50%;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: rgb(249, 247, 237);
  border-top-width: 0;
}
.sigma-tooltip.left {
  margin-left: -12px;
}
.sigma-tooltip.left > .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-left-color: rgb(249, 247, 237);
  border-right-width: 0;
}
.sigma-tooltip.right {
  margin-left: 12px;
}
.sigma-tooltip.right > .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: rgb(249, 247, 237);
  border-left-width: 0;
}
#graph-container{
  position:relative;
}
.sigma-tooltip b.blu{
  color:#427A99;
}
.sigma-ttip-line{
  padding:5px;
}
