
/* Legend panel */




.LegendPanel{
height: 100%;
border-right: 1px solid  #CACACA;
position: fixed;
background-color: #F9F9F9;

}



.legend-text p{
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0.64px;
line-height: 19px;
padding-top: 0px;
padding-bottom: 10px;
border-bottom: 1px solid #E3E3E3;
padding-left: 15px;
padding-right: 15px;
}


.legend-size{

padding-bottom: 10px;
border-bottom: 1px solid #E3E3E3;
height: 100px;
width: 100%;
padding-left: 15px;
padding-right: 15px;
}


.legend-size-title{
width: 25%;
height: 100%;
display: block;
float: left;
}


.legend-size-title p{
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 0.78px;
line-height: 19px;
padding-top: 20px;
}

.legend-size-element{
width: 70%;
height: 100%;
float: right;
}



/* 

.legend-size-element img{
width: 90%;
height: 90%;
}
*/



.legend-toggle{

margin-top: 10px;
padding-left: 15px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
width: 70px;
color: #CACACA;
letter-spacing: 0.78px;
background: #F9F9F9;
border: 1px solid #CACACA;
border-radius: 0px 15px 15px 0px;

}

.legend-toggle p{
	margin: 0;
}

