

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #F9F9F9;
}
body {
  
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}




/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



.cover-heading{
font-family: 'Source Serif Pro', serif;
font-size: 40px;
color: #4A4A4A;
letter-spacing: 0.66px;
margin-bottom: 40px;
}


.intro-text{
  
font-family: 'Source Serif Pro', serif;
font-size: 16px;
color: #4A4A4A;
letter-spacing: 0.68px;
line-height: 20px;
margin-right: 20%;
margin-left: 20%;
}

/* vecchio logo
.logo-cover{
  width: 100%;
  height: 115px;
  background-image: url("/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;

}
*/



@keyframes example {
    from {  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}
    to {  -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);}
}


   

.logo-cover{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: conic-gradient(#E2BF29, #F8E9BA );
    margin-left: auto;
    margin-right: auto;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.intro-upload{
  /* upload your data or : */
font-family: 'Source-Sans Pro', sans-serif;
font-size: 17px;
color: #4A4A4A;
letter-spacing: 0.78px;
font-weight: normal;
}


.intro-upload p{
  padding-bottom: 5px;
  
}
.intro-upload a{
border-bottom: 1px solid #4A4A4A;
color: #4A4A4A;
}

.intro-upload a:hover{
text-decoration: none;
border: 0;
}


.drag{
/* Rectangle 60: */
background: #FFFFFF;
border: 1px dashed #CACACA;
width: 500px;
height: 160px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;

}

.drag .fa{
  color: #CACACA;
  font-size: 30px;
}


.drag:hover{
  background-color: #F9F9F9;
}


.drag:hover .fa{
    color: white;
}

.Aligner{
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.AlignerItem {
  margin: 0;
}

