<div class="countries-time">

  <div ng-style="{'left':open? '0' : '-350px'}" class="col-sm-3 LegendPanel ClearPadding">
    <div class="legend-toggle col-sm-offset-12">
      <p ng-click="open = !open"> <span ng-show="open">close x</span><span ng-show="!open">about this viz</span> </p>
    </div>
    <div class="legend-text">
      <p>Number of articles focusing on a country and proportion which talk about {{$root.keyword}}, by week</p>
    </div>

    <div class="legend-size Aligner">
      <div class="legend-size-title AlignerItem">
        <p>number of articles</p>
      </div>
      <div class="legend-size-element Aligner">
        <img class="AlignerItem" src="images/bubble.svg" alt="">
      </div>
    </div>

    <div class="legend-size Aligner">
      <div class="legend-size-title AlignerItem">
        <p>proportion of articles on {{$root.keyword}}</p>
      </div>
      <div class="legend-size-element Aligner">
        <img class="AlignerItem" src="images/countries-color.svg" alt="">
      </div>
    </div>


  </div>

    <!--<packsingle></packsingle>-->
    <dorling></dorling>

    <div class="timebar">
        <div class="timectrl">
            <i ng-click="start()" ng-show="state == 'stop'" class="fa fa-play-circle"></i>
            <i ng-click="stop()" ng-show="state == 'play'" class="fa fa-stop-circle"></i>
        </div>
        <div class="time-line">

        </div>

    </div>

</div>
