<div class="multimap">
    <div class="map-item" ng-repeat="map in entries track by $index | limitTo:4">

        <div ng-click="editorEnabled=true" ng-hide="editorEnabled" ng-style="{'margin-top':packheight/20}" class="pack-dropdown"><i class="fa fa-caret-down"></i> {{map.key | medias}}</div>
        <div class="pack-dropdown type" ng-show="editorEnabled">
            <input type="text" ng-model="mapName" typeahead-editable="false" uib-typeahead="m as m.label for m in choices | filter:$viewValue | limitTo:10"  typeahead-on-select="editorEnabled=false; onSelect($item, $model, $label, $event, $index)"/>
        </div>
        <mapsingle class="mapsingle"  mapheight="{{mapheight}}" mapindex ="{{map.key}}" mapdata="getData(k)"></mapsingle>
        <div class="clearfix"></div>

    </div>
</div>
