<div class="col-sm-4 col-md-4 col-lg-4 sidebar">


  <div class="row">
    <div class="col-sm-12 TimePanel">
      <h2 class="">Select Time</h2>
      <brushablebars></brushablebars>
    </div>

    <div class="col-sm-6 MediaPanel ClearPadding">
      <h2 class="AddMargin">Select Media</h2>

      <div class="SortGroup AddMargin">
        <h3>Sort by:</h3>
        <button type="button" ng-click="sortMedias = 'value'"  ng-class="{'actv':sortMedias=='value'}" class="btn btn-default btn-sm">value</button>
        <button type="button" ng-click="sortMedias = 'key'"  ng-class="{'actv':sortMedias=='key'}" class="btn btn-default btn-sm">name</button>
      </div>

      <div class="dropdown FilterGroup">
        <button type="button" ng-click="selectAllMedia()" ng-class="{'actv':!$root.filteredMedias.length}" class="btn btn-default btn-sm">select all</button>
        <button type="button" ng-click="clearAllMedias()" ng-class="{'actv':$root.filteredMedias.length == $root.medias.length}" class="btn btn-default btn-sm">clear</button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">filters <i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <h3>Filter by RSS type:</h3>
          <li><button ng-click="filterByRSS('General')" type="button" class="btn btn-default btn-sm">general</button></li>
          <li><button ng-click="filterByRSS('Breaking news')" type="button" class="btn btn-default btn-sm">top news</button></li>
          <li><button ng-click="filterByRSS('International')" type="button" class="btn btn-default btn-sm">international</button></li>
          <li role="separator" class="divider"></li>
          <h3>Filter by language:</h3>
          <li><button ng-click="filterByLanguage('en')" type="button" ng-class="{'actv':!hasLang('en')}" class="btn btn-default btn-sm">english</button></li>
          <li><button ng-click="filterByLanguage('fr')" type="button" ng-class="{'actv':!hasLang('fr')}" class="btn btn-default btn-sm">french</button></li>
          <li><button ng-click="filterByLanguage('es')" type="button" ng-class="{'actv':!hasLang('es')}" class="btn btn-default btn-sm">spanish</button></li>
        </ul>
      </div>

      <div class="Search input-group">
        <div class="SearchIcon Aligner" >
          <i class="fa fa-search fa-lg AlignerItme MediaColor"></i>
        </div>
        <input ng-model="txtfiltMedia" type="text" class="form-control" placeholder="Search for...">
      </div>

      <div class="ElasticList">
        <ul class="list-group">
          <li uib-tooltip-template="'views/media-tooltip.html'" tooltip-placement="top" ng-click="filterMedia(media)" ng-class="{'DeselectedItem':!media.active}" ng-repeat="media in $root.medias | orderBy:orderMediaByFilteredKey | filter:txtfiltMedia" class="list-group-item">
            <span class="badge">{{media.value}}</span>
            {{media.key | medias}}
          </li>
        </ul>
      </div>


    </div>  <!-- End Media Panel-->


    <div class="col-sm-6 CountriesPanel ClearPadding">
      <h2 class="AddMargin">Select Geographical units</h2>

      <div class="SortGroup AddMargin">
        <h3>Sort by:</h3>
        <button ng-click="sortCountries = 'value'" type="button" ng-class="{'actv':sortCountries=='value'}" class="btn btn-default btn-sm">value</button>
        <button ng-click="sortCountries = 'key'" type="button"  ng-class="{'actv':sortCountries=='key'}" class="btn btn-default btn-sm">name</button>
      </div>

      <div class="FilterGroup">
        <button type="button" ng-click="selectAllCountries()" ng-class="{'actv':!$root.filteredCountries.length}" class="btn btn-default btn-sm">select all</button>
        <button type="button" ng-click="clearAllCountries()" ng-class="{'actv':$root.filteredCountries.length == $root.countries.length}" class="btn btn-default btn-sm">clear</button>

      </div>

      <div class="Search input-group">
        <div class="SearchIcon Aligner" >
          <i class="fa fa-search fa-lg AlignerItem CountriesColor"></i>
        </div>
        <input  ng-model="txtfiltCountries" type="text" class="form-control" placeholder="Search for...">
      </div>

      <div class="ElasticList">
        <ul class="list-group">
          <li  ng-click="filterCountry(country)" ng-class="{'DeselectedItem':!country.active}" ng-repeat="country in $root.countries | orderBy:orderCountryByFilteredKey | filter:txtfiltCountries"  class="list-group-item">
            <span class="badge">{{country.value}}</span>
            <span ng-if="country.key!=''">
            {{country.key | countries}}
              </span>
             <span ng-if="country.key==''">
            No geographical units
              </span>
          </li>
        </ul>
      </div>


    </div>     <!-- End Countries Panel-->
  </div>
</div>
