<div class="col-sm-4 col-md-4 col-lg-4 sidebar">


  <div class="row">
    <div class="col-sm-12 TimePanel">
      <h2 class="">Select Time</h2>
      <brushablebars></brushablebars>
    </div>

    <div class="col-sm-6 MediaPanel ClearPadding">
      <h2 class="AddMargin">Select Media</h2>

      <div class="SortGroup AddMargin">
        <h3>Sort by:</h3>
        <button type="button" ng-click="sortMedias = 'value'"  ng-class="{'actv':sortMedias=='value'}" class="btn btn-default btn-sm">value</button>
        <button type="button" ng-click="sortMedias = 'key'"  ng-class="{'actv':sortMedias=='key'}" class="btn btn-default btn-sm">name</button>
      </div>

      <div class="dropdown FilterGroup">
        <button type="button" ng-click="selectAllMedia()" ng-class="{'actv':!$root.filteredMedias.length}" class="btn btn-default btn-sm">select all</button>
        <button type="button" ng-click="clearAllMedias()" ng-class="{'actv':$root.filteredMedias.length == medias.length}" class="btn btn-default btn-sm">clear</button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">filters <i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <h3>Filter by RSS type:</h3>
          <li><button type="button" class="btn btn-default btn-sm">general</button></li>
          <li><button type="button" class="btn btn-default btn-sm">top news</button></li>
          <li><button type="button" class="btn btn-default btn-sm">international</button></li>
          <li role="separator" class="divider"></li>
          <h3>Filter by language:</h3>
          <li><button type="button" class="btn btn-default btn-sm">english</button></li>
          <li><button type="button" class="btn btn-default btn-sm">french</button></li>
          <li><button type="button" class="btn btn-default btn-sm">spanish</button></li>
        </ul>
      </div>

      <div class="Search input-group">
        <div class="SearchIcon Aligner" >
          <i class="fa fa-search fa-lg AlignerItme MediaColor"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search for...">
      </div>

      <div class="ElasticList">
        <ul class="list-group">
          <li ng-click="filterMedia(media)" ng-class="{'DeselectedItem':!media.active}" ng-repeat="media in medias | orderBy:orderMediaByFilteredKey" class="list-group-item">
            <span class="badge">{{media.value}}</span>
            {{media.key | medias}}
          </li>
          <!--
          <li class="list-group-item DeselectedItem">
            <span class="badge">14</span>
            Deselected Times
          </li>-->
        </ul>
      </div>


    </div>  <!-- End Media Panel-->


    <div class="col-sm-6 CountriesPanel ClearPadding">
      <h2 class="AddMargin">Select Countries</h2>

      <div class="SortGroup AddMargin">
        <h3>Sort by:</h3>
        <button ng-click="sortCountries = 'value'" type="button" ng-class="{'actv':sortCountries=='value'}" class="btn btn-default btn-sm">value</button>
        <button ng-click="sortCountries = 'key'" type="button"  ng-class="{'actv':sortCountries=='key'}" class="btn btn-default btn-sm">name</button>
      </div>

      <div class="FilterGroup">
        <button type="button" ng-click="selectAllCountries()" ng-class="{'actv':!$root.filteredCountries.length}" class="btn btn-default btn-sm">select all</button>
        <button type="button" ng-click="clearAllCountries()" ng-class="{'actv':$root.filteredCountries.length == countries.length}" class="btn btn-default btn-sm">clear</button>

      </div>

      <div class="Search input-group">
        <div class="SearchIcon Aligner" >
          <i class="fa fa-search fa-lg AlignerItem CountriesColor"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search for...">
      </div>

      <div class="ElasticList">
        <ul class="list-group">
          <li <div ng-if="country.key!=''" ng-click="filterCountry(country)" ng-class="{'DeselectedItem':!country.active}" ng-repeat="country in countries | orderBy:orderCountryByFilteredKey"  class="list-group-item">
            <span class="badge">{{country.value}}</span>
            {{country.key | countries}}
          </li>
        </ul>
      </div>


    </div>     <!-- End Countries Panel-->
  </div>
</div>
