<!--<h1>Hi, you may upload your data here!</h1>
<p>qui ci vanno l'interfaccia drag&drop e il pulsante upload :)</p>

<button ng-click="loadEbola()">Use a sample on Ebola</button>
-->
<div ng-show="$root.loading" class="loading">

   <!-- <i class="fa fa-spinner fa-spin"></i>-->
  <img src="images/logo-home.gif"/>

    <p>Please wait, the data loading phase could take up to some minutes</p>


</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">
                <div class="logo-cover"></div>
                <h1 class="cover-heading">Geomediatic</br> Barometer</h1>
                <p class="lead intro-text">Choose a dataset:</p>


              <div class="riga">
              <div ng-repeat="dataset in $root.datalist" class="dataset">

                <h4><a ng-click="loadDataset(dataset.filename)">{{dataset.name}}</a></h4>
                <p>{{dataset.description}}</p>


              </div>
              </div>



            </div>
        </div>
    </div>
</div>
