<!--<h1>Hi, you may upload your data here!</h1>
<p>qui ci vanno l'interfaccia drag&drop e il pulsante upload :)</p>

<button ng-click="loadEbola()">Use a sample on Ebola</button>
-->
<div ng-show="$root.loading" class="loading">

    <i class="fa fa-spinner fa-spin"></i>

    <p>Please wait, the data loading phase could take up to some minutes</p>


</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">
                <div class="logo-cover"></div>
                <h1 class="cover-heading">Geomediatic</br> Barometer</h1>
                <p class="lead intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia nulla non mi venenatis mattis. Cras rutrum a arcu quis maximus.</p>

                <div class="intro-upload">

                    <!--<p> upload your data or <a ng-click="loadEbola()">use a sample</a></p>-->
                    <p><a ng-click="loadEbola()">use a sample dataset</a></p>
                    <!--<div ngf-drop="" ng-model="files" ngf-drag-over-class="dragOverClassObj"  ngf-enable-firefox-paste="true"  class="drag Aligner">
                        <i class="fa fa-cloud-upload AlignerItem"></i>-->
                </div>
            </div>
        </div>
    </div>
</div>
