<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">




    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" id="HeaderLeft">
        <div class="row">
          <div class="col-sm-6 ClearPadding">

            <div class="col-sm-4 Aligner" id="home">

              <a class="AlignerItem" href="#"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>
            <div class="col-sm-8 Aligner" id="title">
              <h3 class="AlignerItem">Ebola</h3>
            </div>
          </div>
          <div class="col-md-6 Aligner" id="DataDescription">
            <p>234.567 articles in 3 languages from 01-07-2014 to 31-12-2014. 22 media from 12 countries.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8" id="HeaderRight">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button type="button" ng-click="go('time')" class="btn btn-primary btn-lg DimensionButton TimeButton">Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton MediaButton">+Media</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton CountriesButton">+Countries</button>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button type="button" ng-click="go('media')"  class="btn btn-primary btn-lg DimensionButton MediaButton">Media</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton TimeButton">+Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton CountriesButton">+Countries</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button type="button"  ng-click="go('countries')" class="btn btn-primary btn-lg DimensionButton CountriesButton">Countries</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton TimeButton">+Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button type="button" class="btn btn-primary DimensionButton MediaButton">+Media</button>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>

  </div>
</nav>
