<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">




    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" id="HeaderLeft">
        <div class="row">
          <div class="col-sm-6 ClearPadding">

            <div class="col-sm-4 Aligner" id="home">

              <a ng-click="goHome()" class="AlignerItem">  <img src="images/logo-home.gif"/></a>
            </div>
            <div class="col-sm-8 Aligner" id="title">
              <h3 class="AlignerItem">{{$root.keyword}}</h3>
            </div>
          </div>
          <div class="col-md-6 Aligner" id="DataDescription">
            <p>{{totarts | number}} articles in {{langsln}} languages from <b class="TimeColor">{{$root.startDate | date}}</b> to <b class="TimeColor">{{$root.endDate | date}}</b>. <b class="MediaColor">{{mediasln}}</b> media from <b class="CountriesColor">{{countriesln}}</b> countries.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8" id="HeaderRight">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button ng-class="{'actv':locStartsWith('time')}" type="button" ng-click="go('time')" class="btn btn-primary btn-lg DimensionButton TimeButton">Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('time-media')}" type="button" ng-click="go('time-media')" class="btn btn-primary DimensionButton MediaButton">+Media</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('time-countries')}" type="button" ng-click="go('time-countries')" class="btn btn-primary DimensionButton CountriesButton">+Geographical Units</button>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button ng-class="{'actv':locStartsWith('media')}" type="button" ng-click="go('media')"  class="btn btn-primary btn-lg DimensionButton MediaButton">Media</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('media-time')}" type="button" ng-click="go('media-time')"  class="btn btn-primary DimensionButton TimeButton">+Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('media-countries')}" type="button" ng-click="go('media-countries')"  class="btn btn-primary DimensionButton CountriesButton">+Geographical Units</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 FirstDimension ClearPadding"> <button ng-class="{'actv':locStartsWith('countries')}" type="button"  ng-click="go('countries')" class="btn btn-primary btn-lg DimensionButton CountriesButton">Geographical Units</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('countries-time')}" type="button" ng-click="go('countries-time')" class="btn btn-primary DimensionButton TimeButton">+Time</button>
              </div>
              <div class="col-sm-6 SecondDimension ClearPadding"><button ng-class="{'actv':locEqualTo('countries-media')}" type="button" ng-click="go('countries-media')" class="btn btn-primary DimensionButton MediaButton">+Media</button>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>

  </div>
</nav>
